h1,
h2,
button,
h3,
span,
h4 {


    font-family: 'Fraunces', serif;
    font-weight: 900;

}

a {

    text-decoration: none;
}

h1 {

    color: #fefcf7;
    font-size: 40px;
    line-height: 40px;

}

h2 {

    color: #333D4B;
    font-size: 40px;
    text-transform: lowercase;
}

h3 {

    font-size: 24px;
    margin-bottom: 16px;
    color: #333D4B;


}

p {

    font-family: 'Barlow', sans-serif;
    font-size: 15px;
}

body {

    margin: 0;
    background-color: #fdfcf9;
    

}

.disable-scroll {

    height: 100%;
    overflow: hidden;
}

main {

    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    
}

button {

    height: 56px;
    width: 217px;

    border-radius: 6px;
    background-color: #0E8784;
    color: #fefcf7;
    font-size: 18px;
    border: none;
}


.hamburger {

    cursor: pointer;
    padding-right: 25px;
}

button:hover {

    background-color: #0dadab;
    cursor: pointer;
}





.logo {

    width: 163px;
    height: 18px;
    padding-left: 25px;
}

.box-container {
    border-radius: 10px;
    background-image: url('./starter-code/assets/home/mobile/image-hero-coffeepress.jpg');
    height: 500px;
    background-size: cover;
    padding: 0px 24px 0px 24px;
    position: relative;
    margin-top: 90px;
}

.box-container p {



    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;

    text-align: center;

    color: #FEFCF7;
    margin-bottom: 39px;
    margin-top: 24px;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.content-wrapper {

    margin-top: 100px;
}

.image-container p {

    color: #fefcf7;
}


.coffee-container {

    margin-top: 120px;

}

.coffee-container img {

    width: 200px;
    height: 151px;
    margin: 0 auto;
}

.coffee-container p {

    width: 282px;
    height: 50px;
    margin: 0 auto;
    font-weight: 400;
    line-height: 25px;
    color: #333D4B;

}

.coffee-child {

    margin-bottom: 48px;
}

.coffee-child:last-of-type {

    margin-bottom: 0;
}

.card-container {

    background-color: #2C343E;
    border-radius: 10px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 120px;
}

.card-container h4 {

    font-size: 28px;
    color: #FEFCF7;
    margin-top: 64px;
    margin-bottom: 24px;

}

.card-container p {


    font-weight: 400;
    font-size: 15px;
    line-height: 25px;


    color: #FEFCF7;

    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 0;
}

.card {

    height: 382px;
    background-color: #0E8784;
    margin-bottom: 24px;
    border-radius: 8px;

}

.card img {

    margin-top: 72px;

}


.card:first-of-type {
    margin-top: 64px;
}

.card h3 {

    color: #FEFCF7;
    margin-top: 56px;
    margin-bottom: 24px;
}

.card p {

    opacity: 1;
    padding-left: 35px;
    padding-right: 35px;

}


.steps-container {

    margin-top: 120px;
}

.steps-container h3 {

    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 80px;
    text-align: center;

    color: #83888F;
}

.steps-container h4 {

    font-size: 28px;
    line-height: 32px;

    text-align: center;

    color: #333D4B;
    margin-top: 24px;
    margin-bottom: 24px;
}


.steps-container p {

font-weight: 400;
font-size: 15px;
line-height: 25px;
max-width: 593px;
margin-left: auto;
margin-right: auto;
color: #333D4B;
}

.steps-container span {

    font-weight: 900;
    font-size: 72px;
    line-height: 72px;


    color: #FDD6BA;
}

.step {

    margin-bottom: 56px;
}

.step:last-of-type {

    margin-bottom: 79px;
}

#footer-container {

    border-radius: 0;
    height: 346px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 72px;
}

.links-container{

     display: flex;
     flex-direction: column;
     gap: 24px;
}

#footer-container .logo {

    width: 217.85px;
    height: 24px;
    filter: brightness(0) invert(1);

    
}

#footer-container a {

    font-family: 'Barlow', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.923077px;
text-transform: uppercase;

color: #83888F;
}

#footer-container a:hover {

    color: #fefcf7;
    cursor: pointer;
}

.icon-container {

    display: flex;
    gap: 24px;
    align-items: center;
}

.icon-container img:hover {

    cursor: pointer;
    filter: invert(39%) sepia(41%) saturate(519%) hue-rotate(139deg) brightness(90%) contrast(89%);
}


.modal {

    width: 100%;
    background-color: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: none;
    transition: all .5s;
    
}

.modal-transition {

    background-color: rgba(0, 0, 0, 0.61);
    z-index: 1;

}

#mobile-menu {

    position: absolute;
    overflow: hidden;
    width: 100%;
    left: 0;
    margin: 0 auto;
    padding: 75px 0px 75px 0px;
    background-color: #fdfcf9;
    /* background: linear-gradient(0deg, rgba(242,241,240,0) 0%, rgba(242,241,240,1) 50%); */
    z-index: 2;
    top: 50px;
    transform: translateY(-100%);
    transition: all .5s;
    
}

#mobile-menu a {

    color:#333D4B;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Fraunces', serif;
    cursor: pointer;
}

#mobile-menu a:hover {

    color:#333d4b9a;


}

.links-container {

    display: flex;
    gap: 32px;
}

#close {

    display: none;
}

.transition {

    transform: translateY(0) !important;

}

.open {

    display: block !important;

}

.close {

    display: none;
} 



nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    /* height: 72px; */
    padding-top: 32px;
    padding-bottom: 40px;
    width: 100%;
    background-color: #fdfcf9;
    z-index: 3;

    
}


/* About Us Section */


#about-box {


    height: 400px;
    background-image: url('./starter-code/assets/about/mobile/image-hero-whitecup.jpg');
}

#about-box {

    font-size: 28px;
}

#pouring-coffee {

    background-image: url('./starter-code/assets/about/mobile/image-commitment.jpg');
    height: 400px;
    margin-top: 120px;
}

.about-content h2 {

    font-size: 32px;
    margin-bottom: 30px;
    margin-top: 48px;
}

.about-content p {

    line-height: 25px;
    color: #333D4B;
}

#about-quality-box {

background-image: none;
}


#about-quality-box {

    background-color: #2C343E;
    height: 509px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 198px;
}

#about-quality-box h2 {

   color: #FEFCF7;
   font-size: 28px;
    margin-bottom: 24px;
    margin-top: 0px;
    line-height: 28px;
}

#about-quality-box p {

font-weight: 400;
font-size: 15px;
line-height: 25px;
/* or 167% */

margin-top: 0;
color: #FEFCF7;
margin-bottom: 61px;
opacity: 0.8;
}


#about-quality-box img {

    margin-bottom: 64px;
    border-radius: 7px;
}

.headquarters-container h2 {

    font-weight: 900;
font-size: 24px;
line-height: 32px;
margin-top: 120px;
margin-bottom: 72px;
color: #83888F;
}

.headquarters-container span {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    justify-content: center;    
    color: #333D4B;

}

.headquarters-container h3 {

font-weight: 900;
font-size: 28px;
line-height: 36px;

margin-top: 37px;
color: #333D4B;
}

.locations-wrapper {

    display: flex;
    flex-direction: column;
    gap: 80px;
}

/* Plan section */


#plan-box {

    background-image: url('./starter-code/assets/plan/mobile/image-hero-blackcup.jpg');
    height: 400px;
}

#plan-box p {

    font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;
/* or 167% */

text-align: center;

color: #FEFCF7;

mix-blend-mode: normal;
opacity: 0.8;
}

.guide-container {

height: 1028px;
margin-top: 120px;
padding-right: 24px;
padding-left: 24px;
border-radius: 10px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
/* background-color: #2C343E; */
background-image: url('./starter-code/assets/plan/mobile/bg-steps.png');
background-repeat: no-repeat;
background-size: cover;
}

.guide-container h2 {

    color: #FDD6BA;
    font-weight: 900;
font-size: 72px;
line-height: 72px;
margin-bottom: 24px;
margin-top: 56px;

}

.guide-container h3 {

    font-weight: 900;
font-size: 28px;
line-height: 32px;
margin-bottom: 24px;
text-align: center;
margin-top: 0;
color: #FFFFFF;
}

.guide-container p {

    font-family: 'Barlow';
font-weight: 400;
font-size: 15px;
line-height: 25px;

margin-bottom: 0px;
color: #FFFFFF;
}



/* Accordion */


.accordion {

    margin-top: 120px;
    margin-bottom: 120px;
}

.accordion-heading {

display: flex;
align-items: center;
justify-content: space-between;
/* margin-top: 35px; */


}

.accordion-heading h3 {

    font-weight: 900;
font-size: 24px;
line-height: 28px;
/* or 117% */

color: #83888F;
text-align: left;
transition: all .4s;

}


.accordion-body-card {
   background: #F4F1EB;
border-radius: 8px;
text-align: left;
height: 140px;
display: flex;
flex-direction: column;

/* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}



.accordion-body-card h4 {
    margin-bottom: 8px;
    font-weight: 900;
    margin-top: 24px;
font-size: 24px;
line-height: 32px;
color: #333D4B;
padding-left: 25px;
    padding-right: 25px;
}

.accordion-body-card p {

    margin-top: 0;
    font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #333D4B;
padding-left: 25px;
    padding-right: 25px;
}

.accordion-dropdown-button {

    transition: all .4s;
    filter: brightness(150%);

}



.active-heading .accordion-dropdown-button {

    transform: rotate(-180deg);
    filter: brightness(100%);


}

.active-heading .accordion-question {

    color: #333D4B;
}

.accordion-body-container {

    max-height: 0px;
    transition: max-height .4s ease-in-out;
  overflow: hidden;
}


.accordion-body-open {
    max-height: 500px; /* or whatever value you want */
  }



  .summary-container {

    height: 338px;
    background: #2C343E;
    border-radius: 10px;
    padding-left: 24px;
    padding-right: 25px;

  }


  .summary-container p {
    margin-top: 0;
    font-family: 'Fraunces 9pt';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 40px;
text-align: left;

color: #FFFFFF;
  }


  h5 {
    margin-top: 32px;
    margin-bottom: 8px;
    text-align: left;
    font-family: 'Barlow';
font-weight: 400;
font-size: 16px;
line-height: 26px;

text-transform: uppercase;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
  }

  #plan-button {

    margin: 0 auto;
    margin-top: 56px;
  }