h1,
h2,
button,
h3,
span,
h4 {


    font-family: 'Fraunces', serif;
    font-weight: 900;

}

h1 {

    color: #fefcf7;
    font-size: 40px;
    line-height: 40px;

}

h2 {

    color: #333D4B;
    font-size: 40px;
    text-transform: lowercase;
}

h3 {

    font-size: 24px;
    margin-bottom: 16px;
    color: #333D4B;


}

p {

    font-family: 'Barlow', sans-serif;
    font-size: 15px;
}

body {

    margin: 0;
    background-color: #F2F1F0;

}

main {

    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    
}

button {

    height: 56px;
    width: 217px;

    border-radius: 6px;
    background-color: #0E8784;
    color: #fefcf7;
    font-size: 18px;
    border: none;
}


.hamburger {

    cursor: pointer;
    padding-right: 25px;
}

button:hover {

    background-color: #0dadab;
    cursor: pointer;
}





.logo {

    width: 163px;
    height: 18px;
    padding-left: 25px;
}

.box-container {
    border-radius: 10px;
    background-image: url('./starter-code/assets/home/mobile/image-hero-coffeepress.jpg');
    height: 500px;
    background-size: cover;
    padding: 0px 24px 0px 24px;
    position: relative;
    margin-top: 90px;
}

.box-container p {



    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;

    text-align: center;

    color: #FEFCF7;
    margin-bottom: 39px;
    margin-top: 24px;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.content-wrapper {

    margin-top: 100px;
}

.image-container p {

    color: #fefcf7;
}


.coffee-container {

    margin-top: 120px;

}

.coffee-container img {

    width: 200px;
    height: 151px;
    margin: 0 auto;
}

.coffee-container p {

    width: 282px;
    height: 50px;
    margin: 0 auto;
    font-weight: 400;
    line-height: 25px;
    color: #333D4B;

}

.coffee-child {

    margin-bottom: 48px;
}

.coffee-child:last-of-type {

    margin-bottom: 0;
}

.card-container {

    background-color: #2C343E;
    border-radius: 10px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 120px;
}

.card-container h4 {

    font-size: 28px;
    color: #FEFCF7;
    margin-top: 64px;
    margin-bottom: 24px;

}

.card-container p {


    font-weight: 400;
    font-size: 15px;
    line-height: 25px;


    color: #FEFCF7;

    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 0;
}

.card {

    height: 382px;
    background-color: #0E8784;
    margin-bottom: 24px;
    border-radius: 8px;

}

.card img {

    margin-top: 72px;

}


.card:first-of-type {
    margin-top: 64px;
}

.card h3 {

    color: #FEFCF7;
    margin-top: 56px;
    margin-bottom: 24px;
}

.card p {

    opacity: 1;
    padding-left: 35px;
    padding-right: 35px;

}


.steps-container {

    margin-top: 120px;
}

.steps-container h3 {

    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 80px;
    text-align: center;

    color: #83888F;
}

.steps-container h4 {

    font-size: 28px;
    line-height: 32px;

    text-align: center;

    color: #333D4B;
    margin-top: 24px;
    margin-bottom: 24px;
}


.steps-container p {

font-weight: 400;
font-size: 15px;
line-height: 25px;
max-width: 593px;
margin-left: auto;
margin-right: auto;
color: #333D4B;
}

.steps-container span {

    font-weight: 900;
    font-size: 72px;
    line-height: 72px;


    color: #FDD6BA;
}

.step {

    margin-bottom: 56px;
}

.step:last-of-type {

    margin-bottom: 79px;
}

#footer-container {

    border-radius: 0;
    height: 346px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 72px;
}

.links-container{

     display: flex;
     flex-direction: column;
     gap: 24px;
}

#footer-container .logo {

    width: 217.85px;
    height: 24px;
    filter: brightness(0) invert(1);

    
}

#footer-container a {

    font-family: 'Barlow', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.923077px;
text-transform: uppercase;

color: #83888F;
}

#footer-container a:hover {

    color: #fefcf7;
    cursor: pointer;
}

.icon-container {

    display: flex;
    gap: 24px;
}

.icon-container img:hover {

    cursor: pointer;
    filter: invert(39%) sepia(41%) saturate(519%) hue-rotate(139deg) brightness(90%) contrast(89%);
}


.modal {

    width: 100%;
    background-color: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: none;
    transition: all .5s;
    
}

.modal-transition {

    background-color: rgba(0, 0, 0, 0.61);
    z-index: 1;

}

#mobile-menu {

    position: absolute;
    overflow: hidden;
    width: 100%;
    left: 0;
    margin: 0 auto;
    padding: 75px 0px 75px 0px;
    background:#F2F1F0;
    /* background: linear-gradient(0deg, rgba(242,241,240,0) 0%, rgba(242,241,240,1) 43%); */
    z-index: 2;
    top: 50px;
    transform: translateY(-100%);
    transition: all .5s;
    
}

#mobile-menu a {

    color:#333D4B;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Fraunces', serif;
}

.links-container {

    display: flex;
    gap: 32px;
}

#close {

    display: none;
}

.transition {

    transform: translateY(0) !important;

}

.open {

    display: block !important;

}

.close {

    display: none;
} 



nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    /* height: 72px; */
    padding-top: 32px;
    padding-bottom: 40px;
    width: 100%;
    background:#F2F1F0;
    z-index: 3;

    
}